a: active
{    
    color: none;
    text-decoration: none;
    underline: none;
}

a: hover
{
    color: none;
    text-decoration: none;
    underline: none;
}

a: link 
{
    color: nome;
    text-decoration: none;
    underline: none;
}


a: visited
{
    color: none;
    text-decoration: none;
    underline: none;
}
