html {

	scroll-behavior: smooth;
}

body {

  background-color: white;
  
  color: #32373f;
  
  font-family: 'Avenir Next', 'Avenir', 'Arial', sans-serif;

  transition: background-color 1s;
}

.dark-mode{
    
  background-color: #0d1117;
  
  color: white;
}

header, main, footer {
  
  max-width: 1000px;
    
  margin: auto;
}

#botao_abrir_menu{

  cursor: pointer;
  
  font-size: 30px;
}

#botao_fechar_menu{
  
  font-size: 40px;
  
  position: absolute;
  
  right: 20px;
  
  top: 0;
}

#botao_dark{
      
  cursor: pointer;
  
  display: block;
  
  float: right;
  
  margin-top: 5px;
  
  margin-right: 15px;
}

#navegar_esquerda{

  background-color: #1e1f22;
  
  height: 100%;
  
  left: 0;
    
  overflow-x: hidden;
  
  padding-top: 80px;
  
  position: fixed;
  
  top: 0;
  
  transition: 1s ease-in-out;
  
  width: 0;
  
  z-index: 1;
}

#navegar_esquerda a{
    
  display: block;
  
  font-weight: bold;
      
  padding: 1.5vw;
      
  text-align: center;
  
  text-decoration: none;
    
  color: #7f8181;
}

#navegar_esquerda a:hover{
  
  color: white;
  
  cursor: pointer;
  
  transition: 0.5s;
}

#code_block {

  box-shadow: 0 1px 5px 1px darkred;
}

h1{
  
  text-align: center;
}

p{
    
  line-height: 1.5em;
  
  text-align: justify;
}

codigo{
    
  background-color: #E8E8E8;
  
  border-radius: 8px;
  
  color: #cc0029;
  
  display: inline;
  
  padding: 2px 5px;

  /*
  Same as:
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;*/
}

@media screen and (max-width: 428px){

  #navegar_esquerda a{
    
    padding-top: 50px;
  }

  #botao_fechar_menu{
    
    font-size: 40px;
  }
  
}