html {

	scroll-behavior: smooth;
}

body {

    background-color: #fafafa;
}

#botao_code_block {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  padding: 0.5em 1em;
  font-size: 16px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#code_block {
    box-shadow: 0 2px 20px 1px white;
}

main {

    max-width: 900px;
    margin: auto;
}