html {

	scroll-behavior: smooth;
}

body {

  background-color: white;
  
  color: #32373f;
  
  font-family: 'Avenir Next', 'Avenir', 'Arial', sans-serif;

  transition: background-color 1s;
}

.dark-mode{
    
  background-color: #0d1117;
  
  color: white;
}

header, main{
  
  max-width: 1000px;
    
  margin: auto;
}

#botao_dark{
      
  cursor: pointer;
  
  display: block;
  
  float: right;
  
  padding-top: 10px;
  
  margin-right: 15px;
}

#navegar_esquerda{

  background-color: #1e1f22;
  
  height: 100%;
  
  left: 0;
    
  overflow-x: hidden;
  
  padding-top: 100px;
  
  position: fixed;
  
  top: 0;
  
  text-decoration: none;
  
  transition: 1s ease-in-out;
  
  width: 0;
  
  z-index: 1;
}

#navegar_esquerda a{
    
  display: block;
  
  font-weight: bold;
      
  padding: 1vw;
      
  text-align: center;
  
  text-decoration: none;
    
  color: white;
}

#navegar_esquerda a:hover{
    
  background-color: #E8E8E8;
  
  color: #0d1117;
  
  cursor: pointer;
  
  transition: 0.5s;
}


#botao_abrir{

  cursor: pointer;
  
  font-size: 25px;
  
  padding-bottom: 10px;
}

#botao_fechar{
  
  font-size: 30px;
}

#code_block {

  box-shadow: 0 1px 5px 1px darkred;
}

h1{
    
  font-weight: 600;
  
  text-align: center;
}

h2::after,h3::after,h4::after,h5::after,h6::after{
    
  content: ":";
}

p{
    
  line-height: 1.5em;
  
  text-align: justify;
}

codigo{
    
  background-color: #E8E8E8;
  
  border-radius: 8px;
  
  color: #cc0029;
  
  display: inline;
  
  padding: 2px 5px;

  /*
  Same as:
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;*/
}