html {

	scroll-behavior: smooth;
}

body {
  
  margin-top: 10px;
    
  background-color: white;
  
  color: #32373f;
  
  font-family: 'Avenir Next', 'Avenir', 'Arial', sans-serif;
  
  transition: background-color 1s;
}

.dark-mode{
    
  background-color: #0d1117;
  
  color: white;
}

header{
  
  width: 1000px;
    
  margin-left: 200px;
}

#última_atualização{
  
  display: inline;
}

#botao_dark{

  background-color: #E8E8E8;
  
  border-radius: 30px;
      
  cursor: pointer;
  
  display: block;
  
  float: right;
  
  left: .5em;

}

#navegacao{
  
  padding-top: 35px;
    
  border-right: #E8E8E8 solid 2px;
  
  height: 100%;
  
  left: 0;
      
  width: 200px;
  
  overflow: auto;
  
  position: fixed;
      
  top: 0;
  
  z-index: 1;
}

#navegacao a{
    
  display: block;
  
  font-weight: bold;
      
  padding: 1vw;
      
  text-align: center;
  
  text-decoration: none;
}

#navegacao a:hover{
    
  background-color: #E8E8E8;
  
  color: #0d1117;
  
  cursor: pointer;
  
  transition: 0.5s;
}

#navegacao a:active{

    
}

main {
        
  max-width: 1000px;
  
  margin-left: 200px;
}

#code_block {

  box-shadow: 0 1px 5px 1px darkred;
}

h1{
    
  font-weight: 600;
  
  text-align: center;
}

h2::after,h3::after,h4::after,h5::after,h6::after{
    
  content: ":";
}

h2,h3,h4,h5,h6{
    
  text-align: left;
}

p{
    
  line-height: 1.5;
  
  text-align: justify;
}

codigo{
    
  background-color: #E8E8E8;
  
  border-radius: 8px;
  
  color: #cc0029;
  
  display: inline;
  
  padding: 2px 5px;

  /*
  Same as:
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;*/
}