a:active
{
    text-decoration: none;
    underline: none;
    color: black;
}


a:link
{
    underline: none;
    text-decoration: none;
    color: black;
}

a:hover
{
    text-decoration: none;
    underline: none;
    color: green;
    
}

a:visited
{
    text-decoration: none;
    color: black;
    underline: none;
}
