a:active
{    
    color: hotpink;
    text-decoration: none;
    underline: none;
}

a:hover
{
    color: hotpink;
    text-decoration: none;
    underline: none;
}

a:link 
{
    color: hotpink;
    text-decoration: none;
    underline: none;
}


a:visited
{
    color: hotpink;
    text-decoration: none;
    underline: none;
}

body
{
    background-color: white;
    
}
#Details, #PrimeiraQuestãoh1, #SegundaQuestãoh1
{
    text-align: center;
    color: hotpink;
}
