a:active
{    
    color: black;
    text-decoration: none;
    underline: none;
}

a:hover
{
    color: black;
    text-decoration: none;
    underline: none;
}

a:link 
{
    color: black;
    text-decoration: none;
    underline: none;
}


a:visited
{
    color: black;
    text-decoration: none;
    underline: none;
}

#PrimeiraAtividade, #Details, #PrimeiraQuestãoh1, #SegundaQuestãoh1
{
    text-align: center;
}
